<main class="main-page" fxLayout="column" fxLayoutAlign="center center">
  <!-- <div class="title-container">
    Patient Logger
  </div> -->
  <ng-container *ngIf="noUserDetails">
    <form [formGroup]="newUserDetailsForm" fxLayout="column" fxLayoutGap="15px">
      <div class="img-container">
        <img src="./assets/imgs/nevaro.png" alt="icon image" />
      </div>
      <div class="subtitle">
        Detalhes do utilizador
      </div>
      <div
        class="form-group"
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutGap="30px"
      >
        <section class="form-section" fxLayout="column" fxLayoutGap="15px">
          <input
            type="text"
            class="form-control"
            aria-describedby="username"
            placeholder="Nome de utilizador"
            formControlName="username"
          />
          <select
            class="custom-select form-control"
            formControlName="gender"
            placeholder="Género"
          >
            <option value="">Género</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Outro">Outro</option>
          </select>
          <select
            class="custom-select form-control"
            formControlName="ageGroup"
            placeholder="Grupo Etário"
          >
            <option value="">Grupo Etário</option>
            <option value="<10"><10</option>
            <option value="10-19">10-19</option>
            <option value="20-29">20-29</option>
            <option value="30-39">30-39</option>
            <option value="40-49">40-49</option>
            <option value="50-59">50-59</option>
            <option value="60-69">60-69</option>
            <option value="70-79">70-79</option>
            <option value=">80">>80</option>
          </select>
        </section>
        <section class="form-section" fxLayout="column" fxLayoutGap="15px">
          <mat-checkbox class="example-margin" formControlName="tested"
            >Testei Positivo para a COVID-19</mat-checkbox
          >
          <input
            type="text"
            class="form-control"
            aria-describedby="localidade"
            placeholder="Localidade"
            formControlName="locality"
          />
          <select
            class="custom-select form-control"
            formControlName="riskGroup"
            placeholder="Grupo de risco"
          >
            <option value="">Grupo de risco</option>
            <option value="Diabéticos">Diabéticos</option>
            <option value="Hipertensos">Hipertensos</option>
            <option value="Doença Crónica Respiratória"
              >Doença Crónica Respiratória</option
            >
            <option value="Idosos">Idosos</option>
            <option value="Doença oncológica">Doença oncológica</option>
            <option value="Profissional de Saúde">Profissional de Saúde</option>
          </select>
        </section>
        <section class="form-section" fxLayout="column" fxLayoutGap="5px">
          <h5>Que variáveis quer monitorizar?</h5>
          <mat-checkbox class="example-margin" formControlName="temperature"
            >Temperatura</mat-checkbox
          >
          <mat-checkbox class="example-margin" formControlName="cardiac"
            >Ritmo Cardíaco</mat-checkbox
          >
          <mat-checkbox class="example-margin" formControlName="oxigen"
            >Saturação de Oxigénio</mat-checkbox
          >
          <mat-checkbox class="example-margin" formControlName="arterialTension"
            >Pressão Arterial</mat-checkbox
          >
          <mat-checkbox class="example-margin" formControlName="glicemic"
            >Níveis de Glicémia</mat-checkbox
          >
          <mat-checkbox
            class="example-margin"
            formControlName="respiratoryCapacity"
            >Capacidade Respiratória</mat-checkbox
          >
          <mat-checkbox class="example-margin" formControlName="headthroatpain"
            >Dores de Cabeça/Garganta</mat-checkbox
          >
        </section>
      </div>
    </form>
    <div
      class="button-container"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutGap="15px"
    >
      <mat-checkbox
        class="example-margin"
        [(ngModel)]="checked"
        (click)="logStatus()"
      >
        <a routerLink="/terms">Li e aceito os termos e condições</a>
      </mat-checkbox>
      <button
        type="button"
        class="btn btn-warning"
        (click)="submitDetails()"
        [disabled]="!newUserDetailsForm.valid || !checked"
      >
        Submeter
      </button>
    </div>

    <div
      class="alert-container"
      fxLayoutAlign="center center"
      fxLayout="column"
    >
      <span
        >Recomenda-se o registo bidiário de cada variável - ex: de manhã e à
        tarde</span
      >
    </div>
  </ng-container>
  <div
    class="footer-container"
    fxLayout="row"
    fxLayoutAlign="space-around center"
  >
    <img src="./assets/imgs/fmul_logo.png" alt="fmul_logo image" />
    <img src="./assets/imgs/logo_ciencias.png" alt="logo_ciencias image" />
  </div>
</main>
