.title-container {
  margin: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3em;
}
.img-container {
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;

  img {
    width: 100%;
    max-width: 500px;
  }
}
a {
  color: #112e38;
  text-decoration: underline;
  &:hover {
    font-weight: 600;
  }
}

.main-page {
  margin: 0 15px;
  padding-bottom: 15px;
}

.alert-container {
  margin-top: 30px;
  padding: 0 10px;
  background: #c0e7e3;
  font-weight: 600;
  font-style: 16px;
  text-align: center;
  max-width: 90%;
  width: 500px;
  min-height: 80px;
  border-radius: 20px;
}

.footer-container {
  width: 100%;
  margin: 30px;

  img {
    max-width: 100px;
  }
}
