<main
  class="data-input-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <section
    class="title-container"
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutGap.lt-md="10px"
    fxLayoutAlign="space-between center"
  >
    <div class="title-element" fxFlex="50%">
      <div class="page-title">
        Inserção de registos
      </div>
      <div class="page-subtitle">
        Por favor insira os seus dados
      </div>
    </div>
    <div class="button-container" fxFlex="50%" fxLayoutAlign="end center">
      <a mat-stroked-button href=" https://calendly.com/nevaro" target="_blank"
        >Agendar Conversa</a
      >
    </div>
  </section>

  <section
    class="input-section"
    fxLayout="row wrap"
    fxLayoutGap="20px"
    fxLayoutGap.lt-md="10px"
    fxLayoutAlign="space-between center"
    fxLayoutAlign.lt-md="center center"
  >
    <!-- TEMPERATURA -->
    <div class="card-container">
      <div class="card-title">
        Temperatura
      </div>
      <div class="card-register">
        <form
          [formGroup]="temperatureForm"
          class="form-group"
          fxLayout="column"
          fxLayoutGap="30px"
        >
          <div
            class="input-field"
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="center center"
          >
            <label>Registo</label>
            <input
              type="number"
              class="form-control"
              aria-describedby="temperature"
              formControlName="temperature"
            />
            <span class="input-field--unit">ºC</span>
          </div>
        </form>
      </div>
    </div>

    <!-- CARDIACO -->
    <div class="card-container">
      <div class="card-title">
        Ritmo Cardíaco
      </div>
      <div class="card-register">
        <form
          [formGroup]="cardiacForm"
          class="form-group"
          fxLayout="column"
          fxLayoutGap="30px"
        >
          <div
            class="input-field"
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="center center"
          >
            <label>Registo</label>
            <input
              type="number"
              class="form-control"
              aria-describedby="cardiac"
              formControlName="cardiac"
            />
            <span class="input-field--unit">bpm</span>
          </div>
        </form>
      </div>
    </div>

    <!-- OXIGENIO -->
    <div class="card-container">
      <div class="card-title">
        Taxa de Oxigénio
      </div>
      <div class="card-register">
        <form
          [formGroup]="oxigenForm"
          class="form-group"
          fxLayout="column"
          fxLayoutGap="30px"
        >
          <div
            class="input-field"
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="center center"
          >
            <label>Registo</label>
            <input
              type="number"
              class="form-control"
              aria-describedby="oxigen"
              formControlName="oxigen"
            />
            <span class="input-field--unit">% SpO2</span>
          </div>
        </form>
      </div>
    </div>

    <!-- TENSAO ARTERIAL -->
    <div class="card-container">
      <div class="card-title">
        Tensão arterial
      </div>
      <div class="card-register">
        <form
          [formGroup]="arterialTensionForm"
          class="form-group"
          fxLayout="column"
          fxLayoutGap="30px"
        >
          <div
            class="input-field"
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="center center"
          >
            <label>Registo</label>
            <input
              type="number"
              class="form-control"
              aria-describedby="arterialTension"
              formControlName="arterialTension"
            />
            <span class="input-field--unit">mm Hg</span>
          </div>
        </form>
      </div>
    </div>

    <!-- Níveis de Glicemia -->
    <div class="card-container">
      <div class="card-title">
        Níveis de Glicemia
      </div>
      <div class="card-register">
        <form
          [formGroup]="glicemicForm"
          class="form-group"
          fxLayout="column"
          fxLayoutGap="30px"
        >
          <div
            class="input-field"
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="center center"
          >
            <label>Registo</label>
            <input
              type="number"
              class="form-control"
              aria-describedby="glicemic"
              formControlName="glicemic"
            />
            <span class="input-field--unit">mg/dL</span>
          </div>
        </form>
      </div>
    </div>

    <!-- Capacidade respiratória -->
    <div class="card-container">
      <div class="card-title">
        Capacidade respiratória
      </div>
      <div class="card-register">
        <form
          [formGroup]="respiratoryCapacityForm"
          class="form-group"
          fxLayout="column"
          fxLayoutGap="10px"
        >
          <div
            class="input-field"
            fxLayout="column"
            fxLayoutAlign="start start"
          >
            <mat-checkbox class="example-margin" formControlName="nailsLipsBlue"
              >Lábios ou unhas azulados?</mat-checkbox
            >
            <mat-checkbox class="example-margin" formControlName="cough"
              >Apresenta tosse?</mat-checkbox
            >
          </div>
        </form>
      </div>
    </div>

    <!-- Dores -->
    <div class="card-container">
      <div class="card-title">
        Dores
      </div>
      <div class="card-register">
        <form
          [formGroup]="headthroatpainForm"
          class="form-group"
          fxLayout="column"
          fxLayoutGap="10px"
        >
          <div
            class="input-field"
            fxLayout="column"
            fxLayoutAlign="start start"
          >
            <mat-checkbox class="example-margin" formControlName="throatpain"
              >Sente dores de cabeça?</mat-checkbox
            >
            <mat-checkbox class="example-margin" formControlName="headpain"
              >Sente dores de garganta?</mat-checkbox
            >
          </div>
        </form>
      </div>
    </div>
  </section>

  <section
    class="button-container"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutAlign.lt-md="center center"
  >
    <button
      type="button"
      class="btn btn-warning"
      (click)="submitDetails()"
      [disabled]="
        temperatureForm.invalid &&
        cardiacForm.invalid &&
        oxigenForm.invalid &&
        arterialTensionForm.invalid &&
        glicemicForm.invalid &&
        respiratoryCapacityForm.invalid &&
        headthroatpainForm.invalid
      "
    >
      Submeter
    </button>
  </section>

  <section class="data-section mat-elevation-z4">
    <div class="section-title">
      Os meus registos
    </div>
    <mat-tab-group>
      <mat-tab label="Temperatura">
        <ng-template matTabContent>
          <app-temperature-detail
            [entries]="temperatureDetails"
          ></app-temperature-detail>
        </ng-template>
      </mat-tab>
      <mat-tab label="Ritmo Cardíaco">
        <ng-template matTabContent>
          <app-cardiac-detail
            [entries]="cardiacRithmDetails"
          ></app-cardiac-detail>
        </ng-template>
      </mat-tab>
      <mat-tab label="Taxa de oxigénio">
        <ng-template matTabContent>
          <app-oxigen-detail [entries]="oxigenDetails"></app-oxigen-detail>
        </ng-template>
      </mat-tab>
      <mat-tab label="Tensão Arterial">
        <ng-template matTabContent>
          <app-arterial-detail
            [entries]="arterialTensionDetails"
          ></app-arterial-detail>
        </ng-template>
      </mat-tab>
      <mat-tab label="Capacidade Respiratoria">
        <ng-template matTabContent>
          <app-respiratory-detail
            [entries]="respiratoryCapacityDetails"
          ></app-respiratory-detail>
        </ng-template>
      </mat-tab>
      <mat-tab label="Dores de cabeça / garganta">
        <ng-template matTabContent>
          <app-pain-detail [entries]="headthroatpainDetails"></app-pain-detail>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </section>
</main>
