.main-page {
  min-height: 100vh;

  background-image: url('/assets/imgs/bottom_bckg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: 100%;
  background-color: #f7f7f7;
}
